//eredeti CSS 

// .blog-post {

// }
// h1 {
//   text-align: center;
//   color: red;
// }
// p {
//   font-size: 20px;
// }

//beágyazott az elemek a .blog-postba beágyazva
.blog-post {

h1 {
  text-align: center;
  color: blue;
}
p {
  font-size: 20px;
}
}